<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobRace ForgotPassword Page</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .formContainer form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            max-width: 600px;
            width: 100%;
            min-width: 300px;
        }

        .formContainerInput {
            margin-top: 15px;
            width: 100%;
            border-radius: 6px;
            height: 40px;
            margin-bottom: 30px;
        }
    </style>
</head>

<body>
    <div class="formContainer">
        <form>
            <label class="formContainerLabel">Yeni Parola</label>
            <input class="formContainerInput" type="password" />
            <label class="formContainerLabel">Yeni Parola Tekrar</label>
            <input class="formContainerInput" type="password" />
            <button class="formContainerButton" type="submit">Değiştir</button>
        </form>
    </div>
</body>

</html>